@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Responsive: Portrait tablets and up */

.users textarea {
    font-family: monospace;
}

.users ul, .games ul {
    list-style: none;
    padding-left: 0;
}
