<div class="row users">
	<form role="form ids" class="col-sm-6">
		<div class="form-group">
			<label><h4>SteamIDs</h4></label>
			<textarea class="form-control" ng-model="userInputString" cols="20" rows="6"></textarea>
		</div>
		<button class="btn btn-default" ng-click="search(userInputString)">Search</button>
	</form>

	<div class="col-sm-6 profiles">
		<h4>Steam profiles</h4>
		<ul>
			<li ng-repeat="user in users">
				<a ng-href="http://steamcommunity.com/profiles/{{user.steamId}}">{{user.name}}</a>:
					{{user.gameCount}} games
			</li>
			<li ng-repeat="user in invalidUsers">
				<a ng-href="http://steamcommunity.com/profiles/{{user.steamId}}">{{user.name}}</a>:
					<span class="text-danger">{{user.reason}}</span>
			</li>
		</ul>
	</div>
</div>

<hr>

<div class="row games">
	<div class="col-sm-6">
		<h4>Games</h4>
	</div>

	<div class="filters row">
		<div class="col-sm-3">
			<ul class="categories list-inline">
				<li ng-repeat="category in categories">
					<label class='checkbox-inline'>
						<input type="checkbox" ng-model="category.selected">
						<img ng-src="{{categoriesIconUrl}}{{category.icon}}"
							title="{{category.name}}">
					</label>
				</li>
			</ul>
		</div>

		<div class="col-sm-3">
			<ul class="platforms list-inline">
				<li ng-repeat="platform in platforms">
					<label class='checkbox-inline'>
						<input type="checkbox" ng-model="platform.selected">
						<img ng-src="{{platformsIconUrl}}{{platform.icon}}"
							title="{{platform.name}}">
					</label>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="row">
			<h5 class="col-sm-1"></h5>
			<h5 class="col-sm-1">Score</h5>
			<h5 class="col-sm-2">Price</h5>
			<h5 class="col-sm-4">Name</h5>
			<h5 class="col-sm-2">Categories</h5>
			<h5 class="col-sm-2">Platforms</h5>
		</div>

		<ul>
			<li ng-repeat="game in games | filter:appFilter | orderBy:appSort:true | limitTo:100"
				class="row">
				<span class="col-sm-1">
					<img ng-if="game.img_icon_url"
						ng-src="{{appsIconUrl}}{{game.appid}}/{{game.img_icon_url}}.jpg">
				</span>

				<span class="col-sm-1">
					<a ng-href="{{game.metacritic.url}}">{{game.metacritic.score}}</a>
				</span>

				<span class="col-sm-1"
					ng-class="{'text-success': !game.missingCopies, 'text-warning': game.missingCopies === 1, 'text-danger': game.missingCopies > 1}">
					{{game.missingCopies}} * {{game.price_overview.final / 100}}
				</span>

				<span class="col-sm-5">
					<a ng-href="http://store.steampowered.com/app/{{game.appid}}">
						{{game.name}}
					</a>
				</span>

				<span class="col-sm-2">
					<span ng-repeat="category in game.categories" ng-if="categories[category.id]">
						<img ng-src="{{categoriesIconUrl}}{{categories[category.id].icon}}"
							title="{{categories[category.id].name}}">
					</span>
				</span>
				<span class="col-sm-2">
					<span ng-repeat="(platform, available) in game.platforms" ng-if="available">
						<img ng-src="{{platformsIconUrl}}{{platforms[platform].icon}}"
							title="{{platforms[platform].name}}">
					</span>
				</span>
			</li>
		</ul>
	</div>
</div>
