<textarea ng-model="userInputString"></textarea>
<button ng-click="search(userInputString)">Search</button>

<ul>
	<li ng-repeat="user in users">
		<a ng-href="http://steamcommunity.com/profiles/{{user.steamId}}">{{user.name}}</a>:
			{{user.gameCount}} games
	</li>
</ul>

<ul>
	<li ng-repeat="game in games">
		<img ng-if="game.img_icon_url" ng-src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.img_icon_url}}.jpg">
		<a ng-href="http://steamcommunity.com/app/{{game.appid}}">{{game.name}}</a>
		{{game.metacritic.score}}
	</li>
</ul>
