<div class="row users">
	<form role="form ids" class="col-md-6">
		<div class="form-group">
			<label><h4>SteamIDs</h4></label>
			<textarea class="form-control" ng-model="userInputString" cols="20" rows="6"></textarea>
		</div>
		<button class="btn btn-default" ng-click="search(userInputString)">Search</button>
	</form>

	<div class="col-md-6 profiles">
		<h4>Steam profiles</h4>
		<ul>
			<li ng-repeat="user in users">
				<a ng-href="http://steamcommunity.com/profiles/{{user.steamId}}">{{user.name}}</a>:
					{{user.gameCount}} games
			</li>
		</ul>
	</div>
</div>

<hr>

<div class="row games">
	<h4>Games</h4>

	<div clas="filters row">
		<div class="col-md-6">
			<ul class="categories list-inline">
				<li ng-repeat="category in categories">
					<label class='checkbox-inline'>
						<input type="checkbox" ng-model="category.selected">
						<img ng-src="{{categoriesIconUrl}}{{category.icon}}"
							title="{{category.name}}">
					</label>
				</li>
			</ul>
		</div>

		<div class="col-md-6">
			<ul class="platforms list-inline">
				<li ng-repeat="platform in platforms">
					<label class='checkbox-inline'>
						<input type="checkbox" ng-model="platform.selected">
						<img ng-src="{{platformsIconUrl}}{{platform.icon}}"
							title="{{platform.name}}">
					</label>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-12">
		<ul>
			<li ng-repeat="game in games | filter:appFilter | orderBy:appSort:true">
				<img ng-if="game.img_icon_url" ng-src="{{appsIconUrl}}{{game.appid}}/{{game.img_icon_url}}.jpg">
				<span>{{game.metacritic.score}}</span>
				<a ng-href="http://steamcommunity.com/app/{{game.appid}}">{{game.name}}</a>
				<span>
					<span ng-repeat="category in game.categories" ng-if="categories[category.id]">
						<img ng-src="{{categoriesIconUrl}}{{categories[category.id].icon}}"
							title="{{categories[category.id].name}}">
					</span>
				</span>
				<span>
					<span ng-repeat="(platform, available) in game.platforms" ng-if="available">
						<img ng-src="{{platformsIconUrl}}{{platforms[platform].icon}}"
							title="{{platforms[platform].name}}">
					</span>
				</span>
			</li>
		</ul>
	</div>
</div>
